---
interface Props {
  title: string;
  body: string;
  href: string;
}

const { href, title, body } = Astro.props;
---

<div>
  <a
    href={href}
    class="block m-10 mt-20 p-4 lg:ml-75 transition-all bg-white dark:bg-gray-800 shadow-lg rounded-lg border border-gray-300 dark:border-gray-700"
  >
    <h2 class="text-lg font-bold mb-2 text-black dark:text-white">
      {title}
    </h2>
    <p class="text-sm text-gray-600 dark:text-gray-400">
      {body}
    </p>
  </a>
</div>
