---
import ProfileSection from "../components/ProfileSection.astro";
import NavigationLinks from "../components/NavigationLinks.astro";
import Footer from "../components/Footer.astro";
import { profileData } from "@/data/profile.data";
---

<div
  id="sidebar"
  class="fixed top-0 left-0 h-screen w-64 dark:bg-gray-800 shadow-lg border-r border-gray-300 dark:border-gray-700 transform -translate-x-full transition-transform duration-300 lg:translate-x-0 z-40"
>
  <ProfileSection profileData={profileData} />
  <NavigationLinks />
  <Footer profileData={profileData} />
</div>
